# 吸水性ポリマー

## 吸水率

In [2]:
import pandas as pd
from IPython.display import display

df_dic = {
    "H2O": pd.DataFrame(
        index=[ 
            "CMC SAP",  
            "PANa",  
            "Empty" 
        ],
        data={
            "試料量": [
                0.13,
                0.10, 
                0
            ],
            "吸水前全質量": [
                0.51, 
                0.51, 
                0.36
            ],
            "吸水後全質量": [
                29.82,
                41.99,
                2.13,
            ],
        }
    ),
    "NaCl": pd.DataFrame(
        index=[
            "CMC SAP", 
            "PANa", 
            "Empty"
        ],   
        data={
            "試料量": [
                0.11,
                0.10,
                0
            ],
            "吸水前全質量": [
                0.49, 
                0.48, 
                0.38
            ], 
            "吸水後全質量": [
                8.61,
                6.81,
                2.32
            ],
        } 
    ),
    "CaCl2": pd.DataFrame(
        index=[
            "CMC SAP", 
            "PANa", 
            "Empty"
        ],   
        data={
            "試料量": [
                0.10,
                0.14,
                0
            ],
            "吸水前全質量": [
                0.46, 
                0.53, 
                0.37
            ], 
            "吸水後全質量": [
                5.35,
                2.51,
                1.49
            ],  
        } 
    )
}

In [3]:
for df in df_dic.values():
    df['吸水量'] = (df['吸水後全質量'] - df.at['Empty', '吸水後全質量'] - df['試料量']) / df['試料量']
    display(df.round(2))

with pd.ExcelWriter("吸水率.xlsx") as writer:
    df_dic['H2O'].to_excel(writer, sheet_name="H2O")
    df_dic['NaCl'].to_excel(writer, sheet_name="NaCl")
    df_dic['CaCl2'].to_excel(writer, sheet_name='CaCl2')

          試料量  吸水前全質量  吸水後全質量    吸水量
CMC SAP  0.13    0.51   29.82  212.0
PANa     0.10    0.51   41.99  397.6
Empty    0.00    0.36    2.13    NaN

          試料量  吸水前全質量  吸水後全質量    吸水量
CMC SAP  0.11    0.49    8.61  56.18
PANa     0.10    0.48    6.81  43.90
Empty    0.00    0.38    2.32    NaN

          試料量  吸水前全質量  吸水後全質量    吸水量
CMC SAP  0.10    0.46    5.35  37.60
PANa     0.14    0.53    2.51   6.29
Empty    0.00    0.37    1.49    NaN

# アセチルセルロース

In [20]:
import numpy as np
import pandas as pd 
from IPython.display import display

W = np.array([0.4456, 0.4022])  #アシ,脱脂綿
HCl = np.array([16.79, 17.01])
NaOH = np.array([4.74, 4.19]) + 20
HCl_factor = 0.999
NaOH_factor = 1.001

A = 0.5*(NaOH*NaOH_factor - HCl*HCl_factor)/1000
DS = 162*A/(W-42*A)

DS

(array([2.33032937, 2.3344881 ]), array([0.00399577, 0.0036106 ]))